a:hover{
	color:#00129a;
}
body{
	font-family: 'Ubuntu', sans-serif;
}
nav{
	width: 100%;
	margin: 0 auto;
    top: 0;
    left: 350;
}
nav:before{
	content: '';
    display: block;
    height: 35px;
    width: 100%;
    opacity: 0.8;
    background-color: #1e30b9;
    position: fixed;
    left: 0;
    z-index: -1;
}    
ul{ 
	margin: 0;
	padding: 0;
	list-style: none;
	height: 50px;
}
ul li{
	float: left;
}
ul li a{
	color: #fff;
	display: block;
	padding: 0 80px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 35px; 
}
ul li a:hover{
	background:#ff6000;                  /*   #d43d34;#1e30b9*/ 
}
   img { 
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 }
img:hover{ 
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 } 
p, h2, h3, h4{
	color: #383838;
	text-shadow: 0 0 1px rgba(0,0,0,0.3);
}
p, h2, h3, h4{
	margin-left: 2%;
}
#p1{
	margin-left: 20px;
}
.center-img {
  display: block;
  margin: 0 auto;
}
.h5{
	box-shadow: 0 0 0px rgba(0,0,0,0);
}
#hypercontext{
	margin-left: 2%;
}
.footer{
    bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    margin-top: 2%; 
}
@media screen and (max-width: 800px){
	img{
		float: none;
		width: 100%;
	}
}

@media screen and (max-width: 603px){
	nav:before{
		height: 70px;
	}
	nav{margin: auto;}

}

