a:hover{
	color:#00129a;
}
body{
	font-family: 'Ubuntu', sans-serif;
}

.u nav {
	width: 100%;
	margin: 0 auto;
    top: 0;
    left: 350;
}
.u nav:before {
	content: '';
    display: block;
    height: 35px;
    width: 100%;
    opacity: 0.8;
    background-color: #1e30b9;
    position: fixed;
    left: 0;
    z-index: -1;
}    
.u ul{ 
	margin: 0;
	padding: 0;
	list-style: none;
	height: 50px;
}
.u ul li {
	float: left;
}
.u ul li a{
	color: #fff;
	display: block;
	padding: 0 80px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 35px; 
}
.u ul li a:hover{
	background:#ff6000;                  /*   #d43d34;#1e30b9*/ 
}
   img { 
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 }
img:hover{ 
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 } 
p, h2, h3, h4{
	color: #383838;
	text-shadow: 0 0 1px rgba(0,0,0,0.3);
}
p, h2, h3, h4{
	margin-left: 2%;
}
#p1{
	margin-left: 20px;
}
.center-img {
  display: block;
  margin: 0 auto;
}
.h5{
	box-shadow: 0 0 0px rgba(0,0,0,0);
}
#hypercontext{
	margin-left: 2%;
}
.footer{
    bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    margin-top: 2%; 
    float: left;
}

@media screen and (max-width: 900px){
	img{
		float: none;
		width: 100%;
	}
	.u nav:before{
    height: 100px;
	}    
	.u ul{ 
	height: 50px;
	}
	.u ul li a{
	padding: 0 80px;
	line-height: 50px; 
	}
}
.help ul {
	list-style: none;   
	}
.help ul li {
	float: left;
}
.help ul li a {  
	display: block;
	padding: 0 10px;
	line-height: 10 px;
	text-decoration: none;
	 font-weight: bold;
	 font-size: 24px;
	}	
}
@media screen and (max-width: 900px){
	.help ul li {float: right;}
	}   
}

@media screen and (max-width: 900px){
img{
	img{
		float: none;
		width: 100%;
	}

	.u nav:before{
    height: 100px;
}      
	.u ul li a{
	padding: 0 80px;
	line-height: 50px; 
}
	}